{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <body class="text-center">
        <div class="container">
            <form method = "POST" class="form-signin" style="color:#51624F">
                {{form.hidden_tag()}}
                <h1 style="color:#51624F">
                <br>
                Please Login
                <br>
                <br>
                </h1>
                {{ form.username.label() }}
                {{form.username( class="form-control", placeholder="User Name")}}
                <br>
                {{ form.password.label() }}
                {{form.password( class="form-control", placeholder="Password")}}
                <br>

                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
                <br>
                <div class="checkbox mb-3">
                    <h5>Do not have an account?</h5>
                    <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
                </div>


            </form>
        </div>
    </body>
{% endblock %}